.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  gap: 89px;

  .title > {
    p:nth-child(1) {
      margin-top: 120px;
      color: #fff;
      text-align: center;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 52.008px; /* 123.828% */
      letter-spacing: -0.144px;
    }
    p:nth-child(2) {
      color: #f5f5f7;
      text-align: center;
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: 29.001px; /* 152.637% */
      letter-spacing: 0.231px;
      padding: 20px 0;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a {
      color: #3858d6;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 29.001px; /* 138.1% */
      letter-spacing: 0.231px;
      cursor: pointer;
    }
  }
}
