.header {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  height: 70px;
  max-width: 1440px;
  background: transparent;
  //   background: linear-gradient(155deg, #383638 2.06%, #0b0b0b 33.08%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  h1 {
    color: white;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links > ul {
    gap: 32px;
  }
  .auth_container {
    display: flex;
    p {
      color: #8b8e99;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0 15px;
    }
  }
}
